body {
  background-color: lightgray;
}
h2,
h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
  color: lightseagreen;
  display: inline;
  width: 50%;
}
ul {
  display: none;
}
.toptxt {
  color: lightseagreen;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
.listitem:hover ul {
  display: block;
  color: lightseagreen;
}
.pselement {
}
span[data-box] {
  text-decoration: underline;
  cursor: pointer;
  position: relative;
}
span[data-box]:hover::after {
  content: attr(data-box);
  position: absolute;
  padding: 10px;
  border: 4px groove green;
  background-color: lightgreen;
  z-index: 1;
  color: black;
}
